.Movies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  &__card {
    min-width: 250px;
    margin-bottom: 48px;
    padding: 16px;
    border-radius: 8px;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  }

  &__card + &__card {
    margin-left: 24px;
  }

  &__card:nth-child(4) {
    margin-left: 0;
  }
}

