.Movies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  &__card {
    min-width: 250px;
    margin-bottom: 24px;
    border: 1px solid gray;
  }

  &__card + &__card {
    margin-left: 24px;
  }

  &__card:nth-child(4) {
    margin-left: 0;
  }
}

